body {
  margin: 0;
  font-family: "roboto", sans-serif;
  background-color: #000;
  color: #fff;
}
.cabecalho {
  background-color: #141414;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.cabecalho nav {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cabecalho nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.banner {
  position: relative;
  background-image: url("../img/Registros/capa.png");
  background-size: cover;
  background-position: center;
  padding: 128px 1rem 1rem;
}
.banner::after {
  content: "";
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.151),
    rgba(0, 0, 0, 0.301)
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.conteudo {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.nomes {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  margin: 0;
}
.detalhes {
  font-size: 14px;
  margin-top: 10px;
  color: #ccc;
}
.descricao {
  margin: 1rem;
  font-size: 16px;
  line-height: 1.5;
}
.botoes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: 1rem;
}

.botao {
  padding: 16px 32px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao:hover {
  background-color: #fff;
  color: #000;
}
